.match-list-element {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    border-radius: 5px; 

    transition: all 0.5s ease-in;
}

.match-list-element:hover {
    background-color: #333;
    cursor: pointer;
} 

.match-list-element-title {
    font-size: 30px;
}

.match-list-element-container {
    display: flex;
}

.match-list-element-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.match-list-element-info{
    font-size: medium;
}

.match-list-container {
    width: 60%;
    margin: 0 auto;
}