  .chess-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); // Semi-transparent background to highlight content
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
  }

  .chessboard-container {
    position: relative;
    width: 650px;
    height: 700px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(22, 17, 17, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // opacity: 0.6;

  }

  .chessboard {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    box-shadow: 0 5px 15px rgba(200, 200, 200, 0.5)
  }

  .buttons {
    margin-top: 10px;
    text-align: center;
    width: 70%;
    height: 40px;
    font-size: 15px;
  }

  .buttons button {
    background-color: #14980D;
    /* Main Primary color */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    /* Slight spacing for a tech look */
  }

  .buttons button:hover {
    background-color: #185515;
    /* Primary color 4 for hover */
  }

  .moves-list-container {
    position: relative;
    margin-left: 20px;
    width: 300px;
    height: 700px;
    overflow-y: auto;
    background-color: #111;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    /* Custom scrollbar styles */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #14980D #333;
    /* For Firefox */
  }

  .moves-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #222;
    background: rgba(0, 0, 0, 0.6);
  }

  .move-item {
    padding: 5px 10px;
    cursor: pointer;
    color: #14980D;
    /* Primary color 2 */
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #222;
    margin: 5px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .move-item:hover {
    background-color: #f0f0f0;
  }

  .move-item.current-move {
    background-color: #d3d3d3;
    color: #185515;
    /* Main Primary color */
  }