.game-info-container-scroll {
    padding: 5px;
    height: 100%;
    overflow: scroll;
    .game-info-container{
        
        h1 {
            font-size: 30px;
        }

        * {
            font-size: 20px; 
        }

        .game-info-table{
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .article-content{
            border: 1px solid #303030;
            padding: 5px;
            margin: 5px;

            p {
                margin: 5px 0;
            }
        }
        
        .bold-text{
            font-weight: bold;
            font-size: 0.7em;
            font-family: Arial, Helvetica, sans-serif;
            text-shadow: none;
            letter-spacing: 1px;
            color: rgb(57, 185, 31);
        }

        .game-info-col{
            span > p {
                font-size: 15px;    
            }
        }
    }
}